.view {
  padding: 25px;
}

h3 {
  margin-left: 0;
  margin-right: 0;
}

form {
  display: flex;
  flex-direction: column;
}

form > label, form > button {
  flex: 1;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.keys textarea {
  width: 100%;
}
